@charset "UTF-8";
/* PC_front-page.scssにimport*/
footer {
    max-width: 100%;
    max-height: auto;
    margin-top: 0%;
    background-color: #9D8670;

    div {
        display: flex;
        align-items: center;
        flex-direction: column; 
        font-size: 2vh;
        color: #FFFFFF;
        padding-top: 2%;
        padding-bottom: 2%;
    }
       
    p2 {
        font-size: 1vh;
        padding-top: 1%;
    }

    @include mq (sm) {
        div {
            padding-top: 5%;
            padding-bottom: 5%;
        }
    }
    
}

/*@media (max-width: 480px) {
    footer {
        max-width: 100%;
        max-height: auto;
        margin-top: 67%;
        div {
            padding-top: 5%;
            padding-bottom: 5%;
        }
    }
}*/