@charset "UTF-8";
/* single-PC.scssにimport*/
.img_contents {
    position: relative;

    .block1 {
        position: relative;
        width: 100%;
        height: 100%;
        
    }

    .block2 {
        position: absolute;
        width: 100%;
        height: 98%;
        top: 0%;
        left: 0%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
    
    h1 {
        position: absolute;
        color: white;
        top: 50%;
        left: 25%;
        -ms-transform: translate(-50%,-50%); /*ズレ補正古いブラウザー対応*/
        -webkit-transform: translate(-50%,-50%); /*ズレ補正古いブラウザー対応*/
        transform: translate(-50%,-50%); /*ズレ補正*/
        padding:0;
        z-index: 5;
        font-size: 3.5vw;
        font-family: 'M+PLUS+1p', sans-serif;
        font-weight: 100;

            @include mq (sm) {
                font-size: 3.5vh;
                width: 100%;
                text-align: right;
            }
        }

    img/*[src="img/archive-PC/menu1.jpg"]*/{
        width: 100%;
        height: auto;
        margin-top: 0%;

        @include mq (sm) {
            height: 239px;
            object-fit: cover;
        }
    }
}

span {
    padding: 0%;
    
    @include mq (sm) {
        display: block;
        padding: 0%;
    }
}