@charset "UTF-8";
/* archive-PC.scssにimport*/
.container_special {
    display: flex;
    justify-content: space-around; 
    margin: (5% 5% 3% 5%);

    img {
        width: 50%;
        height: auto;
    }

    .unit3 {
        background-color: #3C2B1C;
        color: #ffffff;
        font-family: 'M+PLUS+1p', sans-serif;

        h3 {
            margin-top: 5%;
            margin-left: 5%;
            font-size: 2vw;
        }

        dt {
            margin-top: 5%;
            margin-left: 5%;
            font-size: 1.5vw;
        }

        dd {
            margin: 5%;
            font-size: 1vw;
        }

        & input[type="submit"] {
            cursor: pointer;
            border: 0.5px solid #707070;
            border-radius: 30px;
            background-color: #F2EDE9;
            outline : none;
            width: 40%;
            height: auto;
            font-size: 40%;
            color: black;
            padding: 5%;
            margin-top: 5%;
            }

        div {
            text-align: center;
        }
    }
}

@media (max-width: 640px) {
    .container_special {
        display: flex-start;
        flex-direction: column;
        /*margin: (5% 5% 5% 5%);*/

        img {
            width: 100%;
            height: auto;
            margin-bottom: 0%;
        }

        .unit3 {
            width: 100%;
            height: auto;
            background-color: #3C2B1C;
            color: #ffffff;
            font-family: 'M+PLUS+1p', sans-serif;
            margin-top: 0%;

            h3 {
                margin-top: 0%;
                margin-left: 5%;
                padding-top: 5%;
                font-size: 3vw;
            }

            dt {
                margin-top: 5%;
                margin-left: 5%;
                font-size: 1.5vw;
            }

            dd {
                margin: 5%;
                font-size: 1vw;
            }

            & input[type="submit"] {
                cursor: pointer;
                border: 0.5px solid #707070;
                border-radius: 30px;
                background-color: #F2EDE9;
                outline : none;
                width: 40%;
                height: auto;
                font-size: 60%;
                color: black;
                padding: 5%;
                margin-bottom: 5%;
                }

            div {
                text-align: center;
            }
        }
    }
}